body{
    font-family: 'Montserrat';
    background-color: dimgrey;

    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10% 0;
}
.outsider {
    background-color:  lightgrey;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 60%;
}
.insider{
    margin: 6% 0;
}

h1{
    text-align: center;
    margin: 0;
}

h2{
    text-align: center;
    font-size: 1.0em;
}
h3{
    margin: 30px 0px 0px 0px;
    font-size: 1.0em;
}

.cadastro{
    display: flex;
}

.input{
    display: flex;
    flex-direction: column;
    width: 70%;
}
.field{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#nome{
    border-radius: 5px;
}
#email{
    border-radius: 5px;
    display: inline-block;
}

#btSalvar{
    border-radius: 15px;
    height: 50px;
    width: 30%;
    color:white;
    background-color: green;
}
#btSalvar:hover{
    background-color: yellowgreen;
    color:black;
}
#btLimpar{
    border-radius: 15px;
    height: 30px;
    width: 60px;
    margin: 2% 0 0 0;

    color:white;
    background-color: red;
    visibility: hidden;
}

#btLimpar:hover{
    background-color: lightcoral;
    color:black;
}

button{
    border-radius: 5px;
}

#tabela{
    font-size: 0.8em;
}