.outsider {
    border-style: solid;
    border-width: 3px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10%;
    background-color:  lightgrey;
    border-radius: 10px;
}
.insider{

    margin: 10% 10% 6%;
    /* margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 6%; */
}
h1{
    text-align: center;
    margin: 0 auto;
}
h2{
    text-align: center;
    margin: 12px auto;
    font-size: 12px;
}
h3{
    clear: left;
    margin: 30px 0px 0px 0px;
    font-size: 12px;
}
table{
    margin-top:5px;
}
label{
    margin: 0 auto;
}
#nome{
    margin-left: 10%;
    border-radius: 5px;
}
#email{
    margin-top: 2%;
    margin-left: 11.5%;
    border-radius: 5px;
    display: inline-block;
}
.input{
    float: left;
    width: 70%;
}
#btSalvar{
    /* margin-top:-300%; */
    float: left;
    /* display: inline-block; */
    margin-right: 0%;
    /* margin-bottom: 25px; */
    border-radius: 15px;
    height: 50px;
    width: 100px;
    color:white;
    background-color: green;
}
#btSalvar:hover{
    background-color: yellowgreen;
    color:black;
}
#btLimpar{
    margin-left: 1%;
    margin-bottom:1%;
    border-radius: 15px;
    height: 30px;
    width: 60px;
    color:white;
    background-color: red;
    visibility: hidden;
}
#btLimpar:hover{
    background-color: lightcoral;
    color:black;
}

body{
    font-family: 'Montserrat';
    background-color: dimgrey;
}
button{
    border-radius: 5px;
}
#tabela{
    margin-left: 0px;
    font-size: 12px;
}
